.var-article {
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--el-border-color);

  &-left {
    width: 50%;
    height: 100%;
    position: relative;
  }

  &-right {
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    position: absolute;
    padding-right: 8px;
    align-items: stretch;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    width: calc(50% + 100px);
    clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
  }

  &-button {
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    box-sizing: content-box;
    border: 2px solid var(--el-color-primary);
    transform: translate(calc(-50% - 50px), -50%);


    &-box {
      width: 30px;
      height: 30px;
      position: relative;
      pointer-events: none;
      transform: rotate(-45deg);
      border: 2px solid var(--el-color-primary);
    }

    &-angle {
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      display: none;
      position: absolute;
      border: 10px solid transparent;
      transform: translate(-20%, -50%);
      border-left-color: var(--el-color-primary);
    }

    &:hover,
    &:hover &-box {
      border-color: var(--el-color-danger);
    }

    &:hover &-angle {
      border-left-color: var(--el-color-danger);
    }
  }

  &-image {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-size: cover;
    transition: transform .3s;
    background-position: center;
  }


  &-title {
    user-select: none;
    line-height: 35px;
    text-align: center;
    padding-left: 100px;
  }

  &-content {
    flex: 1 1 auto;
    padding-left: 90px;

    > p {
      overflow: hidden;
      -webkit-line-clamp: 4;
      display: -webkit-inline-box;
      -webkit-box-orient: vertical;
    }
  }

  &-footer {
    height: 30px;
    display: flex;
    user-select: none;
    padding-left: 30px;
    align-items: center;

    &__item {
      & > span {
        margin-left: 4px;
      }
    }

    &__item + &__item {
      margin-left: 8px;
    }
  }

  &:hover &-button {
    transform: translate(calc(-50% - 50px), -50%) rotate(45deg);
  }

  &:hover &-button-angle {
    display: block;
  }

  &:hover &-image {
    transform: scale(1.1);
  }
}
