#Sign.sign {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#Sign .sign {
  &-header,
  &-footer {
    display: none;
    flex: 0 0 auto;
  }

  &—header {
  }

  &-footer {
  }

  &-content {
    flex: 2 2 auto;
  }
}

#SignBox.signBox {
  top: 30%;
  left: 50%;
  padding: 16px;
  position: relative;
  border-radius: 4px;
  display: inline-table;
  background-color: #fff;
  transform: translate(-50%, -30%);
  border: 1px solid var(--el-border-color);
}

#SignBox .signBox {
  &-title {
    text-align: center;
    margin-bottom: 16px;
  }

  &-content {
    display: flex;
  }

  &-divider {
    height: auto;
    margin: 0 16px;
  }
}
