#app.home .home {
  &-header {
    width: 100vw;
    height: 40px;
    display: flex;
    z-index: 1000;
    position: fixed;
    padding: 0 16px;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, .4);

    &-search {
      width: 200px;
    }
  }

  &-header__background {
    width: 100vw;
    height: 240px;
    pointer-events: none;
    background-size: 100%;
    background-position: 40%;
    background-repeat: no-repeat;
    background-image: var(--header-background);
    border-bottom: 1px solid var(--el-border-color);
  }

  &-center {
    width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid var(--el-border-color);
  }
}
